@using WebListOfBooks.Models.Books
@model IndexViewModel
@section Styles {
    <link href="~/css/WebListOfBooks/books.css" rel="stylesheet" />
}

@foreach (var item in Model.Books)
{
    <div class="books">
        <div>
            Название книги: @item.Name
            <form action="/Books/UpdateName" method="post">
                <input type="hidden" name="nameBook" value="@item.Name" />
                <input placeholder="Введите новое название книги" name="name" value="@item.Name" />
                <input type="submit" value="Обновить" />
            </form>
        </div>
        <div>
            Автор книги: @item.Author
            <form action="/Books/UpdateAuthor" method="post">
                <input type="hidden" name="name" value="@item.Name" />
                <input placeholder="Введите нового автора" name="author" value="@item.Author" />
                <input type ="submit" value="Обновить" />
            </form>
        </div>
        <div>
            <a href="/Books/Remove?name=@item.Name">Удалить</a>
        </div>
    </div>
}
<div>
    <a href="/Books/AddExampleBook">Добавить пример книги</a>
</div>
